# Dependencies
/node_modules

# Build output
/dist
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!/.env.example

# TypeScript build info
*.tsbuildinfo

# Replit
.replit
replit.nix
replit.yaml
.local/
state/
